/* COLORS */
/* @import "~@flaticon/flaticon-uicons/css/regular/straight.css"; */
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css");

:root {
  --color-primary: #fffaf0;
  --color-primary-hover: rgb(247, 238, 222);
  --color-primary-lighter: #fcf8f1;

  --color-secondary: #422a23;
  --color-secondary-hover: #312016;
  --color-secondary-lighter: #55372e;
  --color-secondary-lightest: #79564b;

  --background: rgba(22, 11, 1, 0.897);
  --background-darker: rgb(22, 11, 1);
  /* --color-text: #190d01; */

  --gradient: linear-gradient(
    to bottom right,
    rgb(86, 42, 3),
    rgb(59, 29, 3),
    rgb(46, 23, 3)
  );

  --gradient-one: linear-gradient(
    to bottom right,
    rgb(84, 46, 14),
    rgb(74, 40, 10),
    rgb(59, 31, 6)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  height: 100%;
}

/* .container {
} */
/* 
.overlay {
  -webkit-backdrop-filter: blur(4px);

  backdrop-filter: blur(4px);
  z-index: 100;
  background-color: #0006;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  left: 0;
} */

.hidden {
  display: none;
}

.background-layer {
  position: fixed; /* Stays even when scrolling */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--gradient-one);
  z-index: -100; /* Ensure it stays behind other content */
}

/* //////////////////////////////////////////////////////////////// */

.main {
  max-width: 120rem;
  margin: 2.4rem auto;
  background-color: var(--color-primary);
  border-radius: 0.4rem;
}

.results-recipe-box {
  display: flex;
}

.header {
  background-color: #fffaf0;
  height: 10rem;
}

.text {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-secondary-lighter);
}

.btn {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  font-weight: 500;

  padding: 1.2rem 3.6rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);

  border: 2px solid transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: var(--color-secondary-hover);
}
