/* COLORS */
/* @import "~@flaticon/flaticon-uicons/css/regular/straight.css"; */
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
:root {
  --color-primary: #fffaf0;
  --color-primary-hover: rgb(247, 238, 222);
  --color-primary-lighter: #fcf8f1;

  --color-secondary: #422a23;
  --color-secondary-hover: #312016;
  --color-secondary-lighter: #55372e;

  --background: rgba(22, 11, 1, 0.897);
  --background-darker: rgb(22, 11, 1);
  /* --color-text: #190d01; */

  --gradient: linear-gradient(to bottom right, rgb(93, 45, 4), rgb(30, 15, 2));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background: var(--gradient);
  height: 100%;
}

/* .container {
} */

.overlay {
  /* for chrome */
  -webkit-backdrop-filter: blur(4px);

  backdrop-filter: blur(4px);
  z-index: 100;
  background-color: #0006;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  max-width: 120rem;
  margin: 2.4rem auto;
  background-color: var(--color-primary);
  border-radius: 0.4rem;
}

.results-recipe-box {
  display: flex;
  /* gap: 4.8rem; */
  /* padding: 3.2rem; */
  /* align-items: center; */
}

.header {
  background-color: #fffaf0;
  height: 10rem;
}

.text {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-secondary-lighter);
}

.btn {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  font-weight: 500;

  padding: 1.2rem 3.6rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);

  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: var(--color-secondary-hover);
}
