/* COLORS */
/* @import "~@flaticon/flaticon-uicons/css/regular/straight.css"; */
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-thin-straight/css/uicons-thin-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css");

:root {
  --color-primary: #fffaf0;
  --color-primary-hover: rgb(249, 242, 229);

  --color-secondary: #422a23;
  --color-secondary-hover: #312016;

  --background: rgba(22, 11, 1, 0.897);
  --color-text: #0d0701;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: var(--background);
}

/* .container {
} */

.main {
  max-width: 120rem;
  margin: 2.4rem auto;
  background-color: var(--color-primary);
  border-radius: 0.4rem;
}

.results-recipe-box {
  display: flex;
  gap: 4.8rem;
  /* padding: 3.2rem; */
  /* align-items: center; */
}

.header {
  background-color: #fffaf0;
  height: 10rem;
}

.text {
  font-size: 1.6rem;
  font-weight: 400;
}
