/* NAVIGATION

6A4537

442B22
*/

.header {
  display: flex;
  gap: 2.4rem;
  padding: 0 4.8rem;
  align-items: center;

  /* TBD */
  justify-content: space-between;
}

/* 500 225 */
.nav__img {
  /* 350 x 95 */
  width: 175px;
  height: 48px;
}

.searchForm {
  display: flex;
}

.inputForm {
  width: 40rem;
  padding: 15px;
  border: 1px solid var(--color-secondary);
  background-color: #fff;

  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.inputForm:focus {
  outline: none;
}

.btnForm {
  border-radius: 0 0.4rem 0.4rem 0;
}

.nav {
  display: flex;
  gap: 3.6rem;
  height: 100%;
}

.nav__icon {
  /* width: 2.4rem;
  height: 2.4rem; */
  font-size: 2rem;
  color: var(--color-secondary-lighter);
}

/* these are buttons */
.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding-inline: 0.6rem;

  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all 0.2s ease-in;
}

.nav__item:hover {
  background-color: var(--color-primary-hover);
  /* background-color: #000; */
}

.nav__item a {
  text-decoration: none;
}

.nav__text {
  font-size: 1.8rem;
  color: var(--color-text);
}
