.recipe {
  min-width: 80rem;
  gap: 1.2rem;
  padding: 1.2rem;
}

/* .recipe__item {
} */

.recipe__img {
  /* Both divisible by 16 and 9 respectively. */
  width: 48rem;
  height: 27rem;
  object-fit: cover;
}

/* .recipe__heading {
}
.recipe__details {
}
.recipe__info {
} */
