.recipe {
  min-width: 80rem;
  gap: 1.2rem;
  padding: 2.4rem;

  border-left: 1rem solid rgb(86, 42, 3);
}

.recipe__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 3.6rem;
}

.recipe__figure::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 55rem;
  height: 1px;
  background: var(--color-secondary);
  transform: translateX(-50%);
}

.recipe__heading {
  font-size: 3.6rem;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;

  background-color: rgba(67, 43, 35, 0.95);
  color: var(--color-primary);

  padding: 0.8rem 2.4rem;
  transform: translateY(-50%);
  z-index: 10;
}

.recipe__detail--container {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.recipe__img--container::after {
  content: "";
  position: absolute;
  display: block;
  width: 65rem;
  height: 32.5rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
  background-color: var(--color-secondary-lightest);
  z-index: 1;
}

.recipe__img {
  position: relative;
  display: block;
  /* width: 54.4rem; */
  width: 65rem;
  height: 32.5rem;
  object-fit: cover;
  border-radius: 0.4rem;
}

.recipe__details {
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/* This is the  */
.recipe__info {
  display: block;
  font-size: 2rem;
  font-weight: 300;
}

.change-serving-container {
  transform: translateY(0.2rem);
}

/* Plus and Minus icons */
.serving__icon {
  background-color: var(--color-primary);
  border: none;
}

.serving__icon:hover {
  transform: translateY(-0.1rem);
  cursor: pointer;
  transition: all 0.2s ease;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.recipe__ingredients {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding-block: 3.2rem;
}

.recipe__ingredients::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 45rem;
  height: 1px;
  background: var(--color-secondary-lighter);
  transform: translateX(-50%);
}

.ingredients__heading {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.4rem;
  font-weight: 500;
}

.recipe__ingredients--list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.6rem;
}

.recipe__ingredient {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  font-size: 1.8rem;
  font-weight: 300;
}

.ingredient__highlight {
  font-weight: 400;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.recipe__directions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;

  padding-block: 3.6rem;
}

.recipe__directions--heading {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 1.2rem;
}

.recipe__directions--text {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}

.recipe__directions--btn {
  padding: 1.2rem 3.6rem;
  /* font-size: 2.2rem; */
}

.recipe__directions--btn {
  color: var(--color-primary);
  text-decoration: none;
}
