.search-results {
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  /* Temp: change to scroll if it doesn't work. */
  overflow: hidden auto;
}

.results {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-block: 2.4rem;
}

.search__item {
  display: flex;
  align-items: center;
  gap: 2.4rem;

  padding: 1.2rem;
  height: 12.4rem;

  /* experimental */
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.search__item::after {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  width: 25rem;
  height: 1px;
  background: var(--color-secondary-lighter);
  transform: translateX(-50%);
}

.search__item:hover {
  background-color: var(--color-primary-hover);
}

.search__item:last-child::after {
  height: 0;
}

.search__img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 0.2rem;
  /* object-fit: cover; */
}

.search__link {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  width: 100%;
  height: 100%;

  text-decoration: none;
  color: var(--color-text);
}

.search__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
}

.search__heading {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 2.2rem;
}

.search__subheading {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* PAGINATION */

.search__pagination {
  margin-top: auto;

  display: flex;
  justify-content: space-between;
  padding: 2.4rem 2.4rem;
}

.search__pagination--btn {
  padding: 0.9rem 1.8rem;

  font-size: 1.6rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s;
}

.search__pagination--btn:hover {
  background-color: var(--color-secondary-hover);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
.bookmark__item {
  display: flex;
  align-items: center;

  gap: 1.2rem;
  padding: 1.2rem;

  width: 25rem;
  height: 8rem;

  transition: all 0.2s;
}

.bookmark__item:hover {
  background-color: var(--color-primary-hover);
}

.bookmark__item::after {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  width: 15rem;
  height: 1px;
  background: var(--color-secondary-lighter);
  transform: translateX(-50%);
}

.bookmark__img {
  width: 5rem;
  height: 5rem;
}

.bookmark__content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* .bookmark__link {
} */

.bookmark__heading {
  font-family: "Cormorant, Garamond", serif;

  font-size: 1.4rem;
  font-weight: 400;
}

.bookmark__subheading {
  font-size: 1.2rem;
  font-weight: 300;
}

.bookmark__icon {
  font-size: 3.6rem;
  color: #cbc8c1ae;
  border: var(--color-secondary);
  transition: all 0.2s;
  cursor: pointer;
}

.bookmark__icon--active {
  color: var(--color-secondary);
}
